
body{
  font-family: Arial;
  background-color: rgba(130, 127, 127, 0.38)!important;
}

@media (min-width: 700px) {
  #dcontainer{
    width: 40%;
    margin: auto;
  }
}

@media (min-width: 900px) {
  #dcontainer2{
    width: 70%;
    margin: auto;
  }
}

#photo-container{
  width: 100%;
}

.photoBox{
  margin: auto;
}

.redMenu {
    background-color: #ec1b23!important;
    color: #fff!important;
}
.header-spacer{
  height:50px;
}

.studentName{
  color: red;
}

.name{
  color: black;
  text-align: center;
  font-size: 1.3em;
}


.detailsBox{
  padding: 10px;
  /*max-height: 300px;*/
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 20px #888888;
}

.photoBox{
  padding: 10px;
  max-width: 223px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 20px #888888;
}

.photo img{
  width: 200px;
  height: 200px;
}

.pic img{
  width: 100%;
  height: 100%;
}

.allPage{
  height: 100vh;
}

.red{
  background-color: #ec1b23;
}

.edit.text{
    width: 100%;
    height: 130px;
}

.edit.text.small{
    width: 100%;
    height: 30px;
}

.meta.cohort{
  text-align: center;
}


div.content.cardData{
  padding: 1em 0em .5em 1em!important;
}
